<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
      http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<!-- 下面配置crawl source表的路径 -->
	<bean id="sqlSessionFactory3" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource3" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ossean.crawlermonitor.dao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory3"></property>
	</bean>

	<bean id="dataSource3" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://192.168.80.104:3306/pages?characterEncoding=UTF-8" />
		<property name="username" value="influx" />
		<property name="password" value="influx1234" />
	</bean>

	<!-- 下面是目标数据库的配置 -->
	<bean id="sqlSessionFactory2" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource2" />
	</bean>

	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.ossean.crawlermonitor.destDao" />
		<property name="sqlSessionFactory" ref="sqlSessionFactory2"></property>
	</bean>

	<bean id="dataSource2" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url"
			value="jdbc:mysql://192.168.80.130:3306/ossean?characterEncoding=UTF-8" />
		<property name="username" value="trustie" />
		<property name="password" value="1234" />
	</bean>

</beans>